<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name=“viewport” content=“width=device-width,initial-scale=1.0“ />
</head>
<body>

    <img style="position: relative; left: 80%" width="60" height="30" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF0AAAAmCAIAAAAp9gCWAAADy0lEQVR42u2YbSzVURzHv4aFVulFz
    ZCHrcmIaeX5oQcrhsSLSmTU1tAMrbVYXjAWTRvSoloL89DDKiSxsfWksdqKMNamsEK1RVuRNzp2Le6953//5++e49X9vrDd657P757P/f/+55
    y/0fz8PAzRipHBCzUGL/Qo9JJ2HmXXl15+GYSN89LLW1dx8jgT5+uE2kCNWFvhzbPFD5ibwX073F0XyD6eqwZU6MXKCZPfKMVUCQlG6wPOXpa
    +qRHSklCUB1PTVQAq8fK4FZExMsVG+7HFRogXVSJC0VS/MCXBQCVe4pNQc1em2OV8nE0V6IWkshwJx0QDmb3MzsLSDn/nZIp570JXu1gvLs7o
    7xINZPZSfQcJyUzFejvh5irQC8lwDxzthQKZvRw8iuY2pmLZ55B3QayXjibsCxIKZPMyPgnrbazFnLZi6K1YLy+eItBXKJDNy5UKpGcqKPa8BU
    F+Ar2MDcDWWiiQzUtAKDq1bnU6iqWeQlmRKC/UWztvIIOXgSG4eisrtnkTJj+K8vKoFlHhooEMXnIvIadAcbHGOkSG8fdyKAwNdasAZPDi6oOBQ
    cVe4o6g5gZnL+RXvV8FE5NVAMp5ed0N/xBlxVQhh47pUZib8/RCmOnJyMnCWgvRQDkvGVkoLV+JF0hs2PWZhipuLnjVhvXrhALlvBhZ6vqvxnMG
    jYQfQPM9/l5IyCagvVHtHMwbaHguRY9OL4kpqKrXNXp+SuaCun0NibGU91l+Xs89ush/ZvBjGMbGgoA6vZAD9PQvvbxwX1aXp/YmYg8LAkp7aXi
    C6DgZkKwXkk+9cLAT4iU+BtUVgoDSXmSbiNFLcQEyUoR4MTPDzIQgoISXqWk4ui/81d+LhxvevRTihWTu++Iiwhso4aWyDidOy1NYvIDWSrymQ
    TYK5MMCgBJeomLR2MLNC9lTlhQK8fJ7HBbmIoA0L6R9NtrLI9i9kIuFXDLcvdjZYqRPEJDmpaQcZ7J4eiEhtxhyo+HrZfnRlDeQ5sUjAD19lG
    HUlUUjUqsYOShVLjtncZnGwxpERwgCann5PLqwElFD3YloRGrXY7kBP0d4evHaie4OcUAtLzmFyC2kDJPauVIUSOySlz8W038a5JgXvJunF3Wg
    lhcHN4yMUYZJnXS0w9JKek6j+CIy1LcRvIHqXt5/wI5A+kjSBaQXWKKjlUgnqiD6TIMs+enJmm/yBqp7ychEaQVlJHsTLSqQaKX/F93KphHoi/
    xsBPlThvAGqnuRnQ9jZP2yT8NsDZyd4OeFqAjs3ys5hDfQ8FyKHoMXev4B1hDF00JYw/IAAAAASUVORK5CYII=">
    <p>
        您好：
    </p>
    <p style="text-indent: 2em">
        您有一个新的远程服务记录：<a href="https://abb.mrcrm.com/crm/list.html?moduleId=Order&listViewId
        =733efa25-325c-4719-a46e-4e6c48ea5638&recordId={{record_id}}">{{service_no}}</a>, 客户名称：{{customer_name}}
        请知悉！
    </p>
    <p>
        数字化服务团队
    </p>
</body>
</html>